.Category{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

@media only screen and (max-width:400px) {
    .Category{
        padding: 10px;
        flex-direction: column;
        display: block;
    }
}


